<header id="main-header">
  <div id="logo"><a href="/">ALPHA</a></div>
  <form action="" class="form-div">
    <input type="text" placeholder="Search" class="search-bar">
    <button class="btn search-btn">Search</button>
  </form>
  <nav>
    <%- include('nav-items') %>
  </nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %>
  </nav>
</aside>